@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
}
header .logo {
  position: relative;
  min-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
video {
  width: 100%;
  height: auto;
}
.container {
  position: absolute;
  top: 90px;
}
.frame {
  position: relative;
  margin-top: 200px;
  top:-600px;
  /* margin-left: 80px; */
}
.headding {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.footer {
  position: relative;
  bottom: 0;
  background-color: #ddd;
  width: 100%;
  height: 100px;
  color: #333;

  text-align: center;
}
.video_Container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.iframe {
  margin: 5px;
}
.icon {
  display: flex;
  width: auto;
 
}

 

.mySlides {
 display:none;
 position:relative;
 top:-530px;
}